<h1> Howdy, <%= @user.username %> </h1> 

<p>
This is a simple view, I'll improve it!
</p>

<% if user_signed_in? %>
    <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
<% end %>